<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>   
    <div class="box">
        <% items.forEach(element => { %>
            
            <div class="item">
                <input type="checkbox">
                <p><%= element %></p>
            </div>
        <% }); %>
        <form action="/" method="post" class="item">
            <input type="text" name="newTask" placeholder="What's to do?" autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle%>">+</button>
        </form>
    </div>
<%- include("footer") -%>